.main-body {
  padding: 0 10%;
  max-width: 1260px;
}

.main-container {
  display: flex;
}

.flexitem {
  width: 50%;
}

.col-title {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid black;
}